<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosting Heaven</title>
    <link rel="stylesheet" href="../static/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <img class="logo" src="../images/logo.jpeg">
            <div class="links">
                <!-- <i class="fa fa-window-close"></i> -->
                <ul>
                    <li><a href="../template/index.html">HOME</a></li>
                    <li><a href="../template/location.html">LOCATION</a></li>
                    <li><a href="">MENU</a></li>
                    <li><a href="">CONTACT</a></li>
        
                    
                </ul>
            </div>
            <!-- <i class="fa fa-bars" ></i> -->
        </nav>
    <div class="main">
        <h1>About us :</h1>
        <p>Contact Us: <a href="tel:+123456789">123-456-789</a> | <a href="Frostingheaven@gmail.com">Frostingheaven@gmail.com</a></p>

    </div>    