<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosting Heaven</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <img class="logo" src="../images/logo.jpeg">
            <div class="links">
                <!-- <i class="fa fa-window-close"></i> -->
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="../template/location.html">LOCATION</a></li>
                    <li><a href="">MENU</a></li>
                    <li><a href="../template/contact.html">CONTACT</a></li>
        
                    
                </ul>
            </div>
            <!-- <i class="fa fa-bars" ></i> -->
        </nav>
    <div class="main">
        <h1>Frosting heaven</h1>
        <p>A perfect place to end your cake cravings.We have a vast varity of cakes for you.


        </p>

        <a class="about_btn" href="../template/contact.html">LEARN ABOUT US</a>

    </div>    

    </section>



    <section class="menu">
        <h1> OUR MENU</h1>
        <p>Fresh & superior quality ingredients are used to create innovative dishes and beverages that taste & look distinctive
             and incite fascination. <br> From the lighting to the curated music, from free-walk spaces to the seating, we 
            formulate an aesthetic as a whole so the final picture at the end is nothing short of marvelous!
        </p>
        <img class="Menuu" src="../images/menu.png" >
        <div class="customer">
            <h1>CUSTOMER'S FAVORITE</h1>
            <h2>TIRAMISU</h2>
            <img class="tiramisu" src="../images/Tiramisu.jpeg">
            <p class="tira_desc">Tiramisu is a coffee-flavoured Italian dessert.<br> It is made of ladyfingers (savoiardi) dipped in coffee,<br>
                 layered with a whipped mixture of eggs, sugar and mascarpone,<br> flavoured with cocoa.
            </p>
        </div>
        <div class="cheesecake">
            <h2>CHEESE CAKE</h2>
            <img class="cheesecake_img" src="../images/cheesecake.jpeg" >
            <p class="cheesecake_desc">Cheesecake is a sweet dessert made with a soft fresh cheese <br>
                (typically cottage cheese, cream cheese, quark or ricotta), eggs, and sugar.<br>
                 It may have a crust or base made from crushed cookies</p>
        </div>
        <div class="cupcake">
            <h2>COOKIE AND CREAM CUPCAKE</h2>
            <img class="cupcake_img" src="../images/cupcake.jpeg" >
            <p class="cupcake_desc">
                These cookies and cream cupcakes come together with an easy vanilla cupcake batter,<br> plenty of chopped Oreo cookies,
                 and creamy chocolate frosting. <br>It’s like a slice of cookies & cream cake but with chocolate on top!
            </p>
        </div>
    </section>
    <section class="footer">
        <h4>About us</h4>
        <p>Contact Us: <a href="tel:+123456789">123-456-789</a> | <a href="Frostingheaven@gmail.com">Frostingheaven@gmail.com</a></p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
    
</body>
</html>