<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosting Heaven</title>
    <link rel="stylesheet" href="../static/location.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <img class="logo" src="../images/logo.jpeg">
            <div class="links">
                <!-- <i class="fa fa-window-close"></i> -->
                <ul>
                    <li><a href="../template/index.html">HOME</a></li>
                    <li><a href="../template/location.html">LOCATION</a></li>
                    <li><a href="">MENU</a></li>
                    <li><a href="../template/contact.html">CONTACT</a></li>
        
                    
                </ul>
            </div>
            <!-- <i class="fa fa-bars" ></i> -->
        </nav>
    <div class="main">
        <h1>OUR OUTLETS :</h1>
        <p>We have a total of 3 outlets for now.We are growing everyday , and we hope to open our outlet in your city soon..

        </p>

    </div>    

    </section>


    <section class="outlets">
        <h1>OUTLETS</h1>
        <div class="row">
            <div class="coloum">
                <a href="https://www.google.co.in/maps/place/Mangaluru,+Karnataka/@12.9229793,74.7696618,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba35a4c37bf488f:0x827bbc7a74fcfe64!8m2!3d12.9141417!4d74.8559568!16zL20vMDFzdjZr?entry=ttu" target="_blank">
                <img class="mangalore" src="../images/mangalore (1).jpeg" >
                </a>
                <h3>Mangalore</h3>
                
                <!-- <div class="layer">
                    <h3>Mangalore</h3>
                </div> -->
            </div>
        </div>
        <div class="coloum">
            <a href="https://www.google.co.in/maps/place/Bengaluru,+Karnataka/@12.9539456,77.4661273,11z/data=!3m1!4b1!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627!16zL20vMDljMTc?entry=ttu" target="_blank">
            <img class="bangalore" src="../images/bangalore.jpeg" >
            </a>
            <h3>Bangalore</h3>
            
            <!-- <div class="layer">
                <h3>Mangalore</h3>
            </div> -->
        </div>
        <div class="coloum">
            <a href="https://www.google.co.in/maps/place/Mumbai+Central,+Mumbai,+Maharashtra/@18.9733539,72.8113243,15z/data=!3m1!4b1!4m6!3m5!1s0x3be7ce6ea1b17137:0xfe198eb13bcbf5e3!8m2!3d18.9690247!4d72.8205292!16s%2Fg%2F11h18q_7j?entry=ttu" target="_blank">
            <img class="mumbai" src="../images/mumbai.jpeg" >
            </a>
            <h3>Mumbai</h3>
            
            <!-- <div class="layer">
                <h3>Mangalore</h3>
            </div> -->
        </div>
    </div>
    </div>

    </section>
    <section class="footer">
        <h4>About us</h4>
        <p>Contact Us: <a href="tel:+123456789">123-456-789</a> | <a href="Frostingheaven@gmail.com">Frostingheaven@gmail.com</a></p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>

</body>
</html>